@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #000099;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

body {
  background: #f2f2f2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: #2a37ef; */
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
  font-size: 40px;
  font-weight: 200;
}

header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover, footer a:hover {
  color: #ddd;
}

/* Media Icons */
.navbar .media-icons a{
  position: absolute;
  right: 20px;
  color: red;
  font-size: 40px;
}

.navbar .media-icons a:hover{
  color: red;
}

nav.sticky .media-icons a{
  color: red;
}

nav.sticky .media-icons a:hover{
  color: red;
}
/******/

/* Estilos para la nueva sección de Automatización de la Carga de Facturas con Inteligencia Artificial */

.automation-section {
  background-color: #f9f9f9;
  padding: 80px 0;
  text-align: center;
}

.automation-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.automation-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

/* Estilos para las ventajas de la Automatización de la Carga de Facturas */

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.advantage-card {
  flex-basis: calc(33.33% - 40px);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: transform 0.3s ease;
}

.advantage-card:hover {
  transform: translateY(-5px);
}

.advantage-icon {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #007bff; /* Color de icono personalizado, puedes cambiarlo */
}

.advantage-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.advantage-description {
  font-size: 1rem;
  color: #555;
}


/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: white;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #000000;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("images/descarga.avif") center/cover no-repeat;
  background-position: center 90%;
  background-size: cover;
  background-attachment: fixed;
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.homepage .content {
  display: flex;
  height: 90%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .homepage .content h1 {
  top: 10px;
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 10px;
} */

.homepage .content .text {
  margin-bottom: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.homepage .content .text h1 {
  font-size: 100px; /* Ajusta el tamaño de fuente según tus preferencias */
  font-weight: 400;
  margin-bottom: 10px;
  color: white
}

.homepage .content .text h2 {
  font-size: 45px;
  font-weight: 400;
  color: white
}

.content a {
  color: #000;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  display: inline-block; /* Coloca los botones en línea */
  margin-right: 10px; /* Añade un margen derecho entre los botones para separarlos */

}

.content a:hover {
  color: #fff;
  background: rgba(255,255,255,0.3);
  display: inline-block; /* Coloca los botones en línea */
  margin-right: 10px; /* Añade un margen derecho entre los botones para separarlos */

}

/* Estilos para el botón de PRUEBA GRATIS!! */
#open-form-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
}

#open-form-btn:hover {
  color: #fff;
  background: rgba(255,255,255,0.3);
}


section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
}

section h2 {
  font-size: 2rem;
}

section > p {
  text-align: center;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  padding: 0 10px;
  justify-content: space-between;
}

section.about {
  margin: 0 auto;
  max-width: 1200px;
}

.about .company-info {
  margin-top: 30px;
}

.about h1 {
  font-size: 45px;
  margin: 30px 0 10px;
}
.about h2 {
  font-size: 25px;
  margin: 30px 0 10px;
}

.about p {
  font-size: 20px;
  margin: 30px 0 10px;
}

.about h3 {
  margin: 30px 0 10px;
}

.about img{
  margin: 30px 0 10px;
  object-fit: cover;
  border-radius: 12px;
}


.about .team {
  text-align: left;
  width: 100%;
}

.about .team ul {
  padding-left: 20px;
}

section .cards .card {
  background: #fff;
  padding: 40px 15px;
  list-style: none;
  border-radius: 35px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  width: calc(100% / 3 - 30px);
  text-align: center;
}


.services h1 {
  margin: 30px 0 10px;
  font-size: 55px;  /* El tamaño del titulo de servicios - Nuestro Servicio */
}

.services p {
  margin: 30px 0 10px;
  font-size: 20px;
}

.services img{
  margin: 30px 0 10px;
  object-fit: cover;
  border-radius: 35px;
  max-width: 100%; /* La imagen no será más ancha que su contenedor */
  height: auto; /* Mantiene la proporción de aspecto original */

}

.services .card i {
  height: 50px;
  width: 50px;
  background: #1100ff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #fff;
  margin: 0 auto 10px auto;
}
.services .cards .card:hover{
  background: #757575;
  transition: 1s ease;
  color: #fff;
}

.portfolio .card img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;
}

.cards .card p {
  padding: 0 15px;
  margin-top: 5px;
}

.about .row {
  padding: 0 10px;
}

.contact .row {
  margin: 60px 0 90px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contact .row .col {
  padding: 0 10px;
  width: calc(100% / 2 - 50px);
}

.contact h1{
  margin: 30px 0 10px;
  font-size: 55px;  /* El tamaño del titulo de servicios - CONTACTO */
  margin-bottom: 10px;
}

.contact .col p {
  margin-bottom: 10px;
}

.contact .col p i {
  color: #7a7a7a;
  margin-right: 10px;
}

.contact form input {
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
  border: 1px solid #bfbfbf;
}

.contact form textarea {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  height: 150px;
  outline: none;
  resize: vertical;
  border: 1px solid #bfbfbf;
}

.contact form button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #333;
  transition: 0.2s ease;
  background-color: #007bff;
  text-transform: uppercase;
  border: 2px solid #007bff;
  text-decoration: none;
}

.contact form button:hover {
  color: black;
  background: rgba(255,255,255,0.3);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000;
  padding: 20px 0;
}

footer div {
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: #fff;
}

footer a {
  padding: 0;
}

/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #333333;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

@media screen and (max-width: 860px) {
  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: #333;
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked~.all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  section > p {
    text-align: center;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 17px;
  }

  .content a {
    font-size: 17px;
    padding: 9px 20px;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }

  footer a {
    height: 0;
  }
}

@media screen and (max-width: 560px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }
}




/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

/* Estilos para el botón de abrir el modal */
#openModalBtn {
  background-color: #007bff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #007bff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  display: inline-block; /* Coloca los botones en línea */
  margin-right: 10px; /* Añade un margen derecho entre los botones para separarlos */
}

#openModalBtn:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  display: inline-block; /* Coloca los botones en línea */
  margin-right: 10px; /* Añade un margen derecho entre los botones para separarlos */
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
}

/* Estilos para el formulario y mensajes */
form {
  margin-top: 20px;
}

input[type="email"],
input[type="file"],
button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #007bff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

button:hover {
  color: black;
  background: rgba(255,255,255,0.3);
}



#statusMessage {
  margin-top: 10px;
  text-align: center;
}
